<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TableName" value="USER"/>
		<add key="LoginColumnName" value="LOGIN"/>
		<add key="PasswordColumnName" value="PASSWORD"/>
		<add key="RegisterDateColumnName" value="REGISTER_DATE"/>
		<add key="AgeColumnName" value="AGE"/>
	</appSettings>
	<connectionStrings>
		<add name="DBManager" connectionString="Server=localhost;Database=DBManager;Trusted_Connection=True;" />
	</connectionStrings>
</configuration>